<link rel="stylesheet" href="~/css/informationPage.css">
<link rel="stylesheet" href="~/css/skeleton.css">


<div id="content">
    <div class="row contentFirst">
        <div class="four columns">
            <div class="soul">
                <img src="~/img/im1.gif" />
            </div>
        </div>
        <div class="eight columns">
            <div class="soul contentText">
                <span id="IPFirstBlockName">Text name</span><br />
                <p id="IPFirstBlockText">Paragraph</p>
            </div>
        </div>
    </div>
    <div class="row contentSecond">
        <div class="eight columns">
            <div class="soul contentText">
                <span id="IPSecondBlockName">Text 2</span><br />
                <p id="IPSecondBlockText">Paragraph</p>
            </div>
        </div>
        <div class="four columns">
            <div class="soul">
                <img src="~/img/im1.gif" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="four columns">
            <div class="soul">
                <img src="~/img/im1.gif" />
            </div>
        </div>
        <div class="eight columns">
            <div class="soul contentText">
                <span id="IPThirdBlockName">Text 3 </span><br>
                <p id="IPThirdBlockText">Paragraph</p>
            </div>
        </div>
    </div>
</div>


<script src="~/js/needlework.informationpage.js"></script>
