@model NeedleWork2016.ViewModels.MessageViewModel

<html>
<head>
    <title></title>
    <meta charset="UTF-8">
</head>
<body>
    <div class="contain">
        <center>
            <img src="http://s.developers.org.ua/CACHE/images/img/static/companies/craft/3c38c3d1482061d8d66edbaef6f6d829.png" />
        </center>
        <div class="content">      
            <div class="center">
               Hello, @Model.FirstName, You have switched to a registration confirmation page.                    
            </div>
            Please confirm your account by clicking this link: <a href="@Model.Link">Registration confirmation</a>
        </div>
    </div>
</body>
</html>



